body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
}

section#one {
  background-image: url("../assets/backgrounds/landing.jpg");
  background-position: center;
  padding: 20px;
  min-height: 300px;
}

.box {
  display: block;
  margin: 100px;
  box-sizing: border-box;
  -moz-float-edge: margin-box;
}

.box2 {
  display: block;
  margin: 100px;
  box-sizing: border-box;
  -moz-float-edge: margin-box;
}

div#nav {
  width: 5%;
}

div#nav>hr {
  float: left;
  width: 100%;
}

div.links {
  width: 20%;
  font-size: 23px;
  margin-left: 6%;
  position: absolute;
  margin-top: -2%;
  display: none
}

div#four {
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  background-position: center;
  padding: 20px;
  min-height: 300px;
  align: center;
}

div#six {
  background-image: url("../assets/backgrounds/subscribe.jpg");
  background-position: center;
  font-size: 40px;
  text-align: center;
}

div#seven {
  text-align: center;
  font-size: 25px;
  background-color: #FF4500
}
